@(section: String)

@pages = @{Seq(
    ("index", "Home", routes.Application.index),
    ("cv", "CV", routes.Application.cv)
)}

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="@routes.Application.index#">@Messages("title.short")</a>
    </div>
    <div class="navbar-collapse collapse" id="nav-menu-collapse">
        <ul class="nav navbar-nav pages-nav">
            @for((key, title, action) <- pages) {
                <li class="@{if(key == section) "active"}"><a href="@action#">@title</a></li>
            }
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs links-nav">
            <li class="divider"></li>
            @linkentries()
        </ul>
    </div>
</div>

