@import url(http://fonts.googleapis.com/css?family=Roboto:300,500&subset=latin-ext);

@base-nav-colour: rgb(71, 95, 119);

@nav-colour: darken(@base-nav-colour, 10%);
@nav-background-colour: lighten(@base-nav-colour, 30%);

body {
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, dt, .navbar {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.dl-horizontal dt {
  text-align: left;
}

i, strong.like {
  margin-right: 0.4em;
}

strong, .alert-info {
  font-weight: 500;
}

.navbar, .navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
  background-color: @nav-background-colour;
  border-color: darken(@nav-background-colour, 10%);
  &:hover, &:focus {
    background-color: @nav-background-colour;
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: lighten(@nav-background-colour, 5%);
  &:hover, &:focus {
    background-color: lighten(@nav-background-colour, 5%);
  }
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-toggle {
  color: @nav-colour;
  &:hover, &:focus {
    color: darken(@nav-colour, 10%);
  }
}

.navbar, .alert, .navbar-toggle, .panel, .container .jumbotron {
  border-radius: 0;
}

.navbar, .alert, .navbar-toggle, .panel {
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.jumbotron {
  margin: 0;
  background-color: transparent;
}

.panel.panel-default.panel-body h2 {
  margin-top: 10px;
}