@(cv: CV)(implicit messages: Messages)

@import org.joda.time.YearMonth

@formatYearMonth(showMonth: Boolean)(yearMonth: YearMonth) = {
    @if(showMonth) {@yearMonth.monthOfYear.getAsText }@yearMonth.getYear
}

@workTemplate(showMonth: Boolean)(work: Work) = {
    <h3>@work.org <small>@work.title</small></h3>
    <p>@formatYearMonth(showMonth)(work.from) &ndash; @work.to.map(formatYearMonth(showMonth)).getOrElse("Present")</p>
    @work.details.map { x => <p>@Html(x)</p> }
}

@awardsTemplate(awards: List[String]) = {
    <h4>Awards</h4>
    <ul>
    @awards.map { award =>
        <li>@Html(award)</li>
    }
    </ul>
}

@main(Messages("title"), "cv") {
<div class="print print-heading">
    <h1>@cv.name</h1>
</div>

<div class="panel panel-default panel-body">
    <h2>Tech skills</h2>
    <dl class="dl-horizontal">
    @cv.skills.map { case SkillArea(area, skills) =>
    <dt>@area</dt>
    <dd>@skills</dd>
    }
    </dl>
</div>
<div class="panel panel-default panel-body">
    <h2>Work history</h2>
    @cv.employment.map(workTemplate(showMonth = true))
</div>
<div class="panel panel-default panel-body">
    <h2>Education</h2>
    @cv.uni match { case Education(work, awards) =>
        @workTemplate(showMonth = false)(work)
        @awardsTemplate(awards)
    }
</div>
<div class="panel panel-default panel-body">
    <h2>Contact</h2>
    <dl class="dl-horizontal">
        <dt><i class="fa fa-fw fa-phone"></i> Phone</dt>
        <dd>@cv.phone</dd>

        <dt><i class="fa fa-fw fa-envelope"></i> Email</dt>
        <dd><a href="mailto:#">@cv.email</a></dd>
    </dl>
    <dl class="dl-horizontal print">
    @for((title, url, icon) <- models.constants.links) {
        <dt><i class="fa fa-fw fa-@icon"></i> @title</dt>
        <dd><a href="@url" target="_blank">@url</a></dd>
    }
    </dl>
</div>
}
