@(cv: CV)

@import org.joda.time.YearMonth

@formatYearMonth(showMonth: Boolean)(yearMonth: YearMonth) = {
    @if(showMonth) {@yearMonth.monthOfYear.getAsText }@yearMonth.getYear
}

@workTemplate(showMonth: Boolean)(work: Work) = {
    <h3>@work.org <small>@work.title</small></h3>
    <p>@formatYearMonth(showMonth)(work.from) &ndash; @work.to.map(formatYearMonth(showMonth)).getOrElse("Present")</p>
    <p>@Html(work.description)</p>
}

@awardsTemplate(awards: List[String]) = {
    <h4>Awards</h4>
    <ul>
    @awards.map { award =>
        <li>@Html(award)</li>
    }
    </ul>
}

@main(Messages("title"), "cv") {
    <div class="panel panel-default">
    <div class="panel-body">
        <p>@cv.phone</p>
        <a href="mailto:#">@cv.email</a>
        <div>
            <h2>Tech skills</h2>
            <dl class="dl-horizontal">
            @cv.skills.map { case SkillArea(area, skills) =>
            <dt>@area</dt>
            <dd>@skills</dd>
            }
            </dl>
        </div>
        <hr />
        <div>
            <h2>Work history</h2>
            @cv.employment.map(workTemplate(showMonth = true))
        </div>
        <hr />
        <div>
            <h2>Education</h2>
            @cv.uni match { case Education(work, awards) =>
                @workTemplate(showMonth = false)(work)
                @awardsTemplate(awards)
            }
        </div>
    </div>
</div>
}
