@()

@import org.joda.time.{DateTime, Years}

@main(Messages("title"), "index") {
<div class="panel panel-default">
    <div class="panel-body">
        <div class="jumbotron">
            <h1>About me</h1>
            <p class="lead">I'm a @{Years.yearsBetween(DateTime.parse("1989-02-06"), DateTime.now).getYears} year old Software Engineer currently living in Edinburgh. I work at <a href="http://www.amazondc.com/" target="_blank">Amazon Development Centre Scotland</a>. I graduated from the <a href="http://www.strath.ac.uk/" target="_blank">University of Strathclyde</a> with first-class honours in 2012.</p>
            <p>I am currently interested in job opportunities where I will have the opportunity learn and grow. I would like to hear from startups or companies with small, agile teams. Feel free to <a href='mailto:@Messages("email")'>email me</a>.</p>
            <p>Please check out <a href="@routes.Application.cv">my CV</a>.</p>
        </div>
    </div>
</div>
}
