@(title: String, section: String, additionalStyles: List[String] = Nil, additionalScripts: List[String] = Nil)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href="@routes.Assets.at("stylesheets/main.css")">
        @for(style <- additionalStyles) {
            <link rel='stylesheet' href="@style">
        }
    </head>
    <body>
        <div class="container">
            @heading(section)
            @content
            @footer()
        </div>

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))" type="text/javascript"></script>
        @for(script <- additionalScripts) {
        <script src="@script" type="text/javascript"></script>
        }
    </body>

</html>
